table {
	border-collapse: collapse;
	width: 100%;
}
td {
	border: 1px solid black;
	padding: 8px;
	text-align: center;
	}
tr:first-of-type td{
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	height: 150px;
	overflow: hidden;
	white-space: nowrap;
}
input[type="number"] {
	width: 50px;
}

/*tr:hover td {
  background-color: #0000000f;
}
td:hover {
  background-color: #0000000f;
}*/
.highlight-row td {
  background-color: #f0ffc6	!important; /* Highlight row color */
}

.highlight-column {
  background-color: #f0ffc6	!important; /* Highlight column color */
}

		.M-T1{background-color: #F0FFF0;}
		.M-T2{background-color: #CCFFFF;}
		.M-T3{background-color: #E6CCFF;}
		.R-Solid{background-color: #fbba82;}
		.R-Solid-m{background-color: #ffdec1;}
		.R-Liquid{background-color: #aad4e1;}
		.R-Liquid-m{background-color: #e3f5fb;}
		.R-Pop{background-color: #caade6;}
		.R-Pop-m{background-color: #ebe0f5;}
		.R-General{background-color: #c8c8c8;}
		.R-General-m{background-color: #e1e1e1;}
		.R-Sith{background-color: #ff9b9b;}
		.R-Sith-m{background-color: #f5cccc;}
		.Options-Container {
			display: grid;
			grid-template-areas:
				"Gr-Opt-Ba Gr-Opt-Ba Gr-Opt-Ba Gr-Opt-Ba Gr-Opt-Ba  Gr-Opt-Ba"
				"Gr-Opt-Co Gr-Opt-C1 Gr-Opt-C2 Gr-Opt-C3 Gr-Opt-So Gr-Opt-Li"
				"Gr-Opt-Ro Gr-Opt-R1 Gr-Opt-R2 Gr-Opt-R3 . .  "
				"Gr-Opt-Eo Gr-Opt-Po Gr-Opt-Si . . .";
			grid-template-columns: 100px 100px 100px 100px 100px 100px;
			grid-template-rows: 1fr 1fr 1fr;
			background: linear-gradient(to bottom, #d3d3d3, #a9a9a9);
			border-radius: 5px;
			padding-left: 3px;
			margin-bottom: 3px;
			width: 605px;
			border: 1px solid #ffd700;
			box-shadow: 0 0 3px rgba(255, 193, 7, 0.4), 0 0 3px rgba(255, 152, 0, 0.3);
		}  
		.Gr-Opt-Ba { grid-area: Gr-Opt-Ba;}
		.Gr-Opt-Ro { grid-area: Gr-Opt-Ro;}
		.Gr-Opt-Co { grid-area: Gr-Opt-Co;}
		.Gr-Opt-C1 { grid-area: Gr-Opt-C1;}
		.Gr-Opt-C2 { grid-area: Gr-Opt-C2;}
		.Gr-Opt-C3 { grid-area: Gr-Opt-C3;}
		.Gr-Opt-R1 { grid-area: Gr-Opt-R1;}
		.Gr-Opt-R2 { grid-area: Gr-Opt-R2;}
		.Gr-Opt-R3 { grid-area: Gr-Opt-R3;}
		.Gr-Opt-Po { grid-area: Gr-Opt-Po;}
		.Gr-Opt-So { grid-area: Gr-Opt-So;}
		.Gr-Opt-Li { grid-area: Gr-Opt-Li;}
		.Gr-Opt-Si { grid-area: Gr-Opt-Si;}
		.Gr-Opt-Eo { grid-area: Gr-Opt-Eo;}
		@media (min-width: 801px) {
			.Calc-Container {
				display: grid;
				grid-template-areas: 
					"Gr-item1 Gr-item1 Gr-item1 Gr-item2 Gr-item2 Gr-item2"
					"Gr-item3 Gr-item3 Gr-item3 Gr-item3 Gr-item3 Gr-item3"
					"Gr-item4 Gr-item5 Gr-item6 Gr-item11 Gr-item12 Gr-item13"
					"Gr-item4 Gr-item7 Gr-item8 Gr-item14 Gr-item14 Gr-item14"
					"Gr-item4 Gr-item9 Gr-item10 Gr-item14 Gr-item14 Gr-item14";
				grid-template-columns: 150px 150px 3fr 4fr 150px 150px;
				grid-template-rows: auto;
			}
		}
		@media (max-width: 800px) {
			.Calc-Container {
				display: grid;
				grid-template-areas: 
					"Gr-item1 Gr-item1 Gr-item2"
					"Gr-item3 Gr-item3 Gr-item3"
					"Gr-item5 Gr-item6 Gr-item6"
					"Gr-item7 Gr-item8 Gr-item8"
					"Gr-item9 Gr-item10 Gr-item10"
					"Gr-item11 Gr-item11 Gr-item11"
					". Gr-item12 Gr-item13"
					"Gr-item4 Gr-item4 Gr-item4"
					"Gr-item14 Gr-item14 Gr-item14";
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: auto;
			}
		}
        .Gr-item1 { grid-area: Gr-item1;}
        .Gr-item2 { grid-area: Gr-item2;}
        .Gr-item3 { grid-area: Gr-item3;}
        .Gr-item4 { grid-area: Gr-item4; padding: 2px;}
        .Gr-item5 { grid-area: Gr-item5; padding: 2px;}
        .Gr-item6 { grid-area: Gr-item6; padding: 2px;}
        .Gr-item7 { grid-area: Gr-item7; padding: 2px;}
        .Gr-item8 { grid-area: Gr-item8; padding: 2px;}
        .Gr-item9 { grid-area: Gr-item9; padding: 2px;}
        .Gr-item10 { grid-area: Gr-item10; padding: 2px;}
        .Gr-item11 { grid-area: Gr-item11; padding: 2px;}
        .Gr-item12 { grid-area: Gr-item12; padding: 2px;}
        .Gr-item13 { grid-area: Gr-item13; padding: 2px;}
        .Gr-item14 { grid-area: Gr-item14; padding: 2px;}
		
.calcbut {
            width: 100%; height: 100%; background: linear-gradient(to bottom, #d3d3d3, #a9a9a9); /* Light gray to slightly darker gray */
            color: black;
            border: none;
            border-radius: 5px;
            font-size: 1.5rem;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-shadow: 0 0 2px white; /* White border effect for text */
            box-shadow: inset 0 0 5px #888; /* Adds a subtle inset shadow for depth */
            cursor: pointer;
}
.calcbut:hover {
	background: linear-gradient(to bottom, #c0c0c0, #888888); /* Slightly changes gradient on hover */
}
.InpStr{width: 80%;}