body{margin: 1px;}

h1 {font-family: 'Poppins', sans-serif; font-size: 36px; font-weight: bold; color: #388e3c; }
h1:hover {color: #373333;}
h3 {font-family: 'Poppins', sans-serif; font-size: 24px; font-weight: bold; color: #388e3c; }
h3:hover {color: #373333;}

.ExMenu {max-width: 375px;  padding-bottom: 5px;}
.ExMenu div:last-child{display: none; border-radius: 5px; background: linear-gradient(to right, #edf7ee, #e0e0e0); border: 2px solid #4caf50; box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.15);}
.ExMenu div table tbody tr td:first-child{padding-right: 10px;}
.ExMenuA div table thead tr th{text-align: left; width: 100px;}

#DataContent{min-width: 514px; max-width: 600px;}
#DataContent thead tr th, #DataContent tbody tr td {text-align: left;}
#DataContent thead tr th{border-bottom: 2px solid #388e3c;}
#DataContent thead tr th:nth-last-of-type(2), #DataContent tbody tr td:nth-last-of-type(2){width: 70px;}
#DataContent thead tr th:nth-last-of-type(1), #DataContent tbody tr td:nth-last-of-type(1){width: 60px;}
#CalcContent thead tr th, #CalcContent tbody tr td{text-align: left; padding-right: 1px;}
#CalcContent thead tr th:first-of-type, #CalcContent tbody tr td:first-of-type{width: 3px; min-width: 3px; max-width: 3px;}
#CalcContent thead tr th:nth-of-type(4), #CalcContent tbody tr td:nth-of-type(4){min-width: 100px;}
#CalcContent thead tr th:nth-of-type(3), #CalcContent tbody tr td:nth-of-type(3){min-width: 100px;}
#CalcContent thead tr th:nth-of-type(2), #CalcContent tbody tr td:nth-of-type(2){min-width: 150px;}
.rc0{background: #F0FFF0;}
.rc1{background: #A6F2F2;}
.rc2{background: #CCFFFF;}
.rc3{background: #E6CCFF;}
.rc4{background: #FFDEB3;}
.rch{background: linear-gradient(to right, #e5eee6, #d7d7d7); border: 0px; display: none; color: #388e3c;}

/* Inputs */
input[type="checkbox"]{appearance: none; -webkit-appearance: none; width: 20px; height: 20px; background-color: #e0e0e0; border: 2px solid #c0c0c0; border-radius: 4px; cursor: pointer; transition: background-color 0.3s ease, border-color 0.3s ease;}
input[type="checkbox"]:checked {background-color: #4caf50; border-color: #388e3c;}
input[type="checkbox"] + label {font-family: 'Poppins', sans-serif; font-size: 16px; color: #2e7d32; cursor: pointer; transition: color 0.3s ease;}
input[type="checkbox"] + label:hover {color: #4caf50;}
input[type="text"] {width: 200px; height: 30px; background-color: #e0e0e0; border: 2px solid #c0c0c0; border-radius: 6px; font-size: 14px; padding: 1px 10px; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); transition: all 0.3s ease; margin-left: 8px;}
input[type="text"]:hover{width: 300px; background-color: #f7f9fc; border-color: #4caf50; box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.15);}
input[type="text"]:focus {outline: none; border-color: #388e3c; box-shadow: inset 0 4px 6px rgba(0, 128, 0, 0.2);}
input[type="number"]{width: 50px; height: 25px; background-color: #e0e0e0; border: 2px solid #c0c0c0; border-radius: 6px; font-size: 14px; padding: 1px 1px; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease; margin-left: 8px;}
input[type="number"]:hover{background-color: #f7f9fc; border-color: #4caf50; box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.15);}
input[type="number"]:focus{outline: none; border-color: #388e3c; background-color: #ffffff; box-shadow: inset 0 4px 6px rgba(0, 128, 0, 0.2);}
/* drop down */
select{ font-family: 'Poppins', sans-serif; font-size: 14px; font-weight: bold; color: #373333; background: linear-gradient(to bottom, #edf7ee, #e0e0e0); border: none; border-radius: 8px; box-shadow: 0 5px #e0f5e182; cursor: pointer; padding: 5px; transition: box-shadow 0.2s ease, background-color 2s ease; border: 1px solid #4caf50;}
select:hover {background: linear-gradient(to bottom, #e0e0e0, #edf7ee); box-shadow: 0 3px #f7f9fc; color: #388e3c;}
option{background-color: #edf7ee; color: #373333;}
/* Buttons */
.Op-But{width: 95%; height: 95%; font-family: 'Poppins', sans-serif; font-size: 16px; font-weight: bold; color: #373333; background: linear-gradient(to bottom, #edf7ee, #e0e0e0); border: none; border-radius: 8px; box-shadow: 0 5px #e0f5e182; cursor: pointer; position: relative; transition: box-shadow 0.2s ease, background-color 2s ease; border: 1px solid #4caf50;}
.Op-But:hover{ background: linear-gradient(to bottom, #e0e0e0, #edf7ee); box-shadow: 0 3px #f7f9fc; color: #388e3c;}
.Op-But:active{ box-shadow: 0 4px #bde4bf82; transform: translateY(3px); }

.OpCon{padding: 1px; width: calc(max-content - 2px); display: inline-flex; align-items: center; max-width: 300px;}
.OpCon div:first-child{text-align: left; width: 205px; display: inline;}
.OpCon div:last-child{text-align: right; width: min-content; display: inline; margin-left: auto;}

.Highlight{color: #388e3c;}
.F22{font-size: 22px;}
.F16{font-size: 16px;}
.R-Sith::after{content: url('Sith.png');}
.M-Sith td:first-child::after {content: url('Sith.png');}
.M-Imp td:first-child::after {content: url('Imp.png');}
.O-Imperial{background: #fff!important;}
.O-Republic{background: #DAF1F9!important;}
.O-Sith{background: #FFBFBF!important;}
.O-General{background: #edf7ee !important;}
.SimpleIcon{vertical-align: middle;}
.InBl{display: inline-block;}
.w200{width: 200px;}
.w100{width: 100px;}	
.h34{height: 34px!important;}
.h40{height: 40px;}
.h100{height: 100px!important;}
.h100i{height: 100%;}
.C-H{cursor: help;}
.OptSpan{width: 22px; height: 22px; cursor: pointer;}

.Options-Container {
    display: grid;
    grid-template-areas:
        "Gr-Opt-Ba Gr-Opt-Ba Gr-Opt-Ba Gr-Opt-Ba Gr-Opt-Ba Gr-Opt-Ba"
        "Gr-Opt-Co Gr-Opt-C1 Gr-Opt-C2 Gr-Opt-C3 Gr-Opt-So Gr-Opt-Li"
        "Gr-Opt-Ro Gr-Opt-R1 Gr-Opt-R2 Gr-Opt-R3 . ."
        "Gr-Opt-Eo Gr-Opt-Po Gr-Opt-Si . . .";
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px; /* Add spacing between buttons */
    background-color: #f7f9fc; /* Light background for the menu */
    padding: 15px;
    border-radius: 8px; /* Rounded corners for the container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.Dummy{display: none!important;}
.Ta1{
	display: grid;
	grid-template-areas:
	"Ta1-01"
	"Ta1-02";
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
}
.Ta1-01{grid-area: Ta1-01;}
.Ta1-01 div{
	display: inline-block;	border-radius: 8px 8px 0px 0px; border-left: 2px solid #4caf50;	border-right: 2px solid #4caf50;	border-top: 2px solid #4caf50; padding: 4px 10px;
	font-family: 'Poppins', sans-serif; font-size: 24px; font-weight: bold; color: #388e3c; background: linear-gradient(to bottom, #edf7ee, #e0e0e0);	cursor: pointer;}
.Ta1-01 div:hover {color: #373333; background: linear-gradient(to bottom, #e0e0e0, #edf7ee);}
.Ta1-01 div.active {color: #ffffff; background: linear-gradient(to bottom, #4caf50, #81c784); cursor: default;}
.Ta1-02{grid-area: Ta1-02;}
.TabData {
	display: none;
	border: 2px solid #4caf50;
	background-color: #f7f9fc; padding: 5px;
	border-radius: 0px 0px 8px 8px;
	min-height: 300px;
}
.TabData.active {
	display: block;
}
.TagText{
	padding: 5px;
}
.SimpleBox{display: inline-block; margin: 2px; border-radius: 2px; border: 1px solid #4caf50; height: 27px;}
.SimpleBox div{display: inline-block; padding: 2px; height: 100%; align-items: center;}

@media (min-width: 1250px) {
.Calc-Container {
	display: grid;
		grid-template-areas: 
		"Gr-item1 Gr-item1"
		"Gr-item2 Gr-item2"
		"Gr-item3 Gr-item4"
		"Gr-item5 Gr-item6"					;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
	}
	.AppGrid {
		 display: grid;
		grid-template-areas:
			"App01 App02 App03";
		grid-template-columns: 540px 390px 1fr;
		grid-template-rows: 1fr;
	}
.Op1{border-radius: 0px 8px 0px 0px;	border-top: 2px solid #4caf50;		border-right: 2px solid #4caf50; padding: 4px;}
.Op2{border-radius: 8px 0px 0px 0px;	border-top: 2px solid #4caf50;		border-left: 2px solid #4caf50; padding: 4px;}	
.Op3{border-radius: 0px 0px 0px 8px;	border-bottom: 2px solid #4caf50;	border-left: 2px solid #4caf50; padding: 4px;}
.Op4{border-radius: 0px 0px 8px 0px;	border-bottom: 2px solid #4caf50;	border-right: 2px solid #4caf50; padding: 4px;}
}

@media (min-width: 841px) and (max-width: 1249px) {
.Calc-Container {
	display: grid;
		grid-template-areas: 
		"Gr-item1 Gr-item1"
		"Gr-item2 Gr-item2"
		"Gr-item3 Gr-item4"
		"Gr-item5 Gr-item6"					;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
	}
	.AppGrid {
		display: grid;
		grid-template-areas:
		"App01 App03"
		"App02 App02";
		grid-template-columns: 540px auto;
		grid-template-rows: repeat(2, auto);
	}
.Op1{border-radius: 0px 8px 0px 0px;	border-top: 2px solid #4caf50;		border-right: 2px solid #4caf50; padding: 4px;}
.Op2{border-radius: 8px 0px 0px 0px;	border-top: 2px solid #4caf50;		border-left: 2px solid #4caf50; padding: 4px;}	
.Op3{border-radius: 0px 0px 0px 8px;	border-bottom: 2px solid #4caf50;	border-left: 2px solid #4caf50; padding: 4px;}
.Op4{border-radius: 0px 0px 8px 0px;	border-bottom: 2px solid #4caf50;	border-right: 2px solid #4caf50; padding: 4px;}
}
@media (min-width: 200px) and (max-width: 838px) {
.Calc-Container {
	display: grid;
		grid-template-areas: 
		"Gr-item1"
		"Gr-item2"
		"Gr-item3"
		"Gr-item4"
		"Gr-item5"
		"Gr-item6";
		grid-template-columns: auto;
		grid-template-rows: auto;
	}
	.AppGrid {
    display: grid;
    grid-template-areas:
    "App01"
	"App02"
	"App03";
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
	}
.Op1{border-radius: 0px 0px 0px 0px; border-left: 2px solid #4caf50;	border-right: 2px solid #4caf50; padding: 4px;}
.Op2{border-radius: 8px 8px 0px 0px; border-left: 2px solid #4caf50;	border-right: 2px solid #4caf50;	border-top: 2px solid #4caf50; padding: 4px;}
.Op3{border-radius: 0px 0px 0px 0px; border-left: 2px solid #4caf50;	border-right: 2px solid #4caf50; padding: 4px;}
.Op4{border-radius: 0px 0px 8px 8px; border-left: 2px solid #4caf50;	border-right: 2px solid #4caf50;	border-bottom: 2px solid #4caf50; padding: 4px;}
}
.Gr-item1{grid-area: Gr-item1;}	/*header*/
.Gr-item2{grid-area: Gr-item2; margin-bottom: 2px; border-radius:}	/*table*/
.Gr-item3{grid-area: Gr-item3;}	/*Options*/
.Gr-item4{grid-area: Gr-item4;}	/*Options*/
.Gr-item5{grid-area: Gr-item5;}	/*Options*/
.Gr-item6{grid-area: Gr-item6;}	/*Options*/
.App01{grid-area:App01;}	.App02{grid-area:App02; display: none;}	.App03{grid-area:App03; display: none;}





/*options1
.Op1{
	display: grid;
	grid-template-areas:
	"Op1-01	Op1-01		.		.		.		."
	"Op1-11	Op1-12	Op1-13	Op1-14	Op1-15	Op1-16"
	"Op1-21	Op1-22	Op1-23	Op1-24	.		."
	"Op1-31	Op1-32	Op1-33	.		.		.";
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 38px);
    gap: 3px;
    background-color: #f7f9fc;
    padding: 15px;
}
.Op1 div:not(:first-child){justify-content: center; align-items: center; display:flex; text-align: center;}
.Op1 div:first-child{align-items: center; display:flex;}
.Op1 div label{justify-content: center; align-items: center; display:flex; text-align: center;}
.Op1-01{grid-area: Op1-01;}
.Op1-11{grid-area: Op1-11;}	.Op1-12{grid-area: Op1-12;}	.Op1-13{grid-area: Op1-13;}	.Op1-14{grid-area: Op1-14;}	.Op1-15{grid-area: Op1-15;}	.Op1-16{grid-area: Op1-16;}
.Op1-21{grid-area: Op1-21;}	.Op1-22{grid-area: Op1-22;}	.Op1-23{grid-area: Op1-23;}	.Op1-24{grid-area: Op1-24;}	
.Op1-31{grid-area: Op1-31;}	.Op1-32{grid-area: Op1-32;}	.Op1-33{grid-area: Op1-33;}


.Op2{
	display: grid;
	grid-template-areas:
	"Op2-01	.		.	"
	"Op2-11	Op2-12	Op2-12"
	"Op2-11	Op2-22	Op2-22"
	"Op2-11	Op2-32	Op2-33";
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 38px);
	gap: 3px;
	background-color: #f7f9fc;
	padding: 15px;
}
.Op2 div{align-items: center; display:flex;}
.Op2 div label{align-items: center; display:flex;}
.Op2-01{grid-area: Op2-01;}
.Op2-11{grid-area: Op2-11;}	.Op2-12{grid-area: Op2-12;}
.Op2-22{grid-area: Op2-22;}
.Op2-32{grid-area: Op2-32;}	.Op2-33{grid-area: Op2-33;}*/
.Op3{
	height: 100%;
	display: grid;
	grid-template-areas:
	"Op3-01	Op3-01	Op3-01	"
	"Op3-11	Op3-12	Op3-12"
	"Op3-21	Op3-22	Op2-22";
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 38px);
	gap: 3px;
}
.Op3 div{align-items: center; display:flex;}
.Op3 div label{align-items: center; display:flex;}
.Op3-01{grid-area: Op3-01;}
.Op3-11{grid-area: Op3-11;}	.Op3-12{grid-area: Op3-12;}
.Op3-21{grid-area: Op3-21;}	.Op3-22{grid-area: Op3-22;}
/*.Op4{
	height: 100%;
	display: grid;
	grid-template-areas:
	"Op4-01"
	"Op4-11";
	grid-template-columns: 1fr;
	grid-template-rows: 38px auto;
	gap: 3px;
	background-color: #f7f9fc;
	padding: 15px;
}
.Op4 div:first-child{align-items: center; display:flex;}
.Op4 div label{align-items: center; display:flex;}
.Op4-01{grid-area: Op4-01;}
.Op4-11{grid-area: Op4-11;}*/